* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B2D42;
    width: 100vw;
    height: 100vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 45vh;
}

.btn__truth{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100%;
    background-color: #2B2D42;
}

.btn__dare{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100%;
    background-color: #2B2D42;
}
/* #text{
    background-color: darkslateblue;
    border-radius: 7px;
    color: whitesmoke;
} */
.btn__image-container-v {
    filter: contrast(200%);
}
.btn__image {
    width: 50vw;
    height: 100%;
    margin: auto;      
}

.V {
    filter: drop-shadow(0px 7px 0px #961661);
}

.R {
    filter: drop-shadow(0px 7px 0px #125273);
}
.btn__Recharge {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    align-self:  flex-end;
    margin-bottom: 3.5%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #CE4257;
    box-shadow: 0px 7px 0px #842325;
}

.btn__icon {
    position: absolute;
    margin-top: 60px;
}

.btn__icon.V {
    filter: drop-shadow(0px -4px 0px #9B1155);
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.players__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    width: 300px;
    height: 87%;
    background-color: #2B2D42;
    box-shadow: inset 0px 0px 4px 5px #1B1C2B;
    border-radius: 15px;
}

.player {
    width: 250px;
    height: 20%;
    margin-top: 7px;
    background-color: #2B2D42;
    border-style: solid;
    border-width: 5px;
    border-color: #A0C4FF;
    border-radius: 15px;
}