$body: #2B2D42;
$text: rgb(208, 208, 208);
$font-1: 'Fredoka One', cursive;
$font-2: 'Fredoka', sans-serif;
$background-pop_up: #1c2022;

/* Players */

$player-1: #FFADAD;
$player-2: #A0C4FF;
$player-3: #FDFFB6;
$player-4: #FFC6FF;
$player-5: #bdb2ff;
$player-6: #caffbf;
$player-7: #ffd6a5;
$player-8: #f694c1;
$player-9: #ebd2b4;
$player-l0:#a1fcdf;
$player-ll:#edede9;
$player-l2:#7161ef;