@import 'config';
@import 'modal-window';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $body;
    width: 100vw;
    height: 100vh;
}

.top {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 45vh;
}

.btn {
    display: flex;
    width: 100vw;
    height: 35vh;
    flex-wrap: wrap;
    justify-content: space-around;
}

.truth {
    width: 48%;
    height: 100%;
    margin-top: 7px;
    background-color: #fff;
    &:active {
        box-shadow: 0px 0px 36px 10px  rgba(235, 56, 153, 1.2);
        width: 48vw;
        height: 38vh;
    }
    &, &::before, &::after {
        background: rgba(255, 255, 255, 0.14);
        box-shadow: 0 10px 25px 0 rgba(238, 50, 135, 0.37);
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.21);
        transition: 0.2s;
        /* background-image: url(/assets/Icon-verdad.svg);
        background-repeat: no-repeat;
        background-position: center; */
    }
}

.dare{
    width: 48%;
    height: 100%;
    margin-top: 7px;
    background-color: #fff;
    &:active {
        box-shadow: 0px 0px 36px 10px  rgba(31, 38, 255, 1.2);
        width: 48vw;
        height: 38vh;
    }
    &, &::before, &::after {
        background: rgba(255, 255, 255, 0.14);
        box-shadow: 0 10px 25px 0 rgba(31, 38, 135, 0.37);
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.21);
        transition: 0.2s;
        /* background-image: url(/assets/Icon-Reto.svg);
        background-repeat: no-repeat;
        background-position: center; */
    }
}

.back {
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    z-index: -1;
    width: 100vw;
    height: 35vh;
    .one {
        width: 38%;
        height: 55%;
        align-self: center;
        background-color: #EE3283;
        filter: blur(5px);
        border-radius: 50% 25%;
    }
    .two {
        width: 38%;
        height: 55%;
        align-self: center;
        background-color: #1E75D1;
        filter: blur(5px);
        border-radius: 50% 25%;
    }
}

.img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100vw;
    height:35vh;
    z-index: -1;
    filter: contrast(140%);
    img{
        margin-left: 30px;
        height: 32%;
    }
}

.recharge {
    display: flex;
    position: absolute;
    align-items: center;
    width: 125px;
    height: 10%;
    top: 38vh;
    .start {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 65%;
        background-color: transparent;
        border: none;
        color: #CE4257;
        background-color: #1c2022;
        font-size: 1.7rem;
        font-family: $font-2;
        border: solid 2px #CE4257;
        border-radius: 15px;
        &:active {
            box-shadow: 0px 0px 15px 4px #CE4257;
        }
    }
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    button {
        position: absolute;
        width: 35px;
        height: 35px;
        align-self: flex-start;
        background-color: transparent;
        border-style: none;
        cursor: pointer;
        top: 42%;
        right: 3%;
        opacity: 80%;
        i {
            font-size: 30px;
        }
    }
}

.players__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    width: 85%;
    height: 87%;
    background-color: $body;
    box-shadow: inset 0px 0px 4px 5px #1B1C2B;
    border-radius: 15px;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82%;
    height: 20%;
    font-size: 2em;
    font-family: $font-1;
    margin-top: 7px;
    background-color: $body;
    border-style: solid;
    border-width: 5px;
    border-color: #A0C4FF;
    border-radius: 15px;
    &.player-1 {
        border-color: #FFADAD;
        color: #FFADAD;
    }
    &.player-2 {
        border-color: #A0C4FF;
        color: #A0C4FF;
    }
    &.player-3 {
        border-color: #FDFFB6;
        color: #FDFFB6;
    }
    &.player-4 {
        border-color: #FFC6FF;
        color: #FFC6FF;
    }
}